
@mixin flex-tl
    display: flex
    justify-content: flex-start
    align-items: flex-start
@mixin flex-tc
    display: flex
    justify-content: center
    align-items: flex-start
@mixin flex-tr
    display: flex
    justify-content: flex-end
    align-items: flex-start


@mixin flex-cl
    display: flex
    justify-content: flex-start
    align-items: center
@mixin flex-cc
    display: flex
    justify-content: center
    align-items: center
@mixin flex-cr
    display: flex
    justify-content: flex-end
    align-items: center


@mixin flex-bl
    display: flex
    justify-content: flex-start
    align-items: flex-end
@mixin flex-bc
    display: flex
    justify-content: center
    align-items: flex-end
@mixin flex-br
    display: flex
    justify-content: flex-end
    align-items: flex-end

@mixin flex-row
    display: flex
    flex-direction: row
@mixin flex-column
    display: flex
    flex-direction: column
@mixin flex-wrap
    display: flex
    flex-wrap: wrap


/* Clients choice */
@mixin flexChoice ($justify,$alignItems)
    display: flex
    justify-content: $justify
    align-items: $alignItems

