/* Responsive by Zack */ 

$xsmall: 320px
$small: 480px

$medium: 768px

$large: 1000px
$xlarge: 1280px


// Some Exemples of media quieres //
@media only screen and (min-width: #{$xsmall})
    h1
        background: blue
        font-size: 5rem
@media only screen and (min-width: #{$medium})
    h1
        background: lightblue
        font-size: 7rem
@media only screen and (min-width: #{$large})
    h1
        background: cyan
        font-size: 10rem
